@model YemekTarifleriWebProjesi.Models.Kategoriler

@{
    ViewData["Title"] = "KategoriGuncelle";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}



<h4>Kategoriler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="KategoriGuncelle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="KategoriId" />
            <div class="form-group">
                <label asp-for="Kategoriadi" class="control-label"></label>
                <input asp-for="Kategoriadi" class="form-control" />
                <span asp-validation-for="Kategoriadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktif" class="control-label"></label>
               @* <input asp-for="Aktif" class="form-control" />*@
                <select asp-for="Aktif" class="form-control">
                    <option value="True">Evet</option>
                    <option value="False">Hayır</option>
                </select>
                <span asp-validation-for="Aktif" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Kategoriler">Geri</a>
</div>

