@model YemekTarifleriWebProjesi.Models.YemekTarifleri

@{
    ViewData["Title"] = "TarifGuncelle";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}


<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<h4>Yemek Tarifleri</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="TarifGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TarifId" />
            <div class="form-group">
                <label asp-for="Yemekadi" class="control-label"></label>
                <input asp-for="Yemekadi" class="form-control" />
                <span asp-validation-for="Yemekadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarif" class="control-label"></label>
                @*<input asp-for="Tarif" class="form-control" />*@
                <textarea asp-for="Tarif" name="Tarif"></textarea>
                    <script>
                    CKEDITOR.replace("Tarif")
                    </script>
                <span asp-validation-for="Tarif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sira" class="control-label"></label>
                <input asp-for="Sira" class="form-control" />
                <span asp-validation-for="Sira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriId" class="control-label"></label>
                <select asp-for="KategoriId" class="form-control" asp-items="ViewBag.KategoriId"></select>
                <span asp-validation-for="KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktif" class="control-label"></label>
                @*<input asp-for="Aktif" class="form-control" />*@
                <select asp-for="Aktif" class="form-control">
                    <option value="True">Evet</option>
                    <option value="False">Hayır</option>
                </select>
                <span asp-validation-for="Aktif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Tarifler">Geri</a>
</div>

